
:root {
    --ada-dawasa-grey: #464545;
    --ada-dawasa-pink: #f8365b;
    --white: '#ffffff';
    --lightPink: '#f8365b';
    --darkPink: '#cf2a4a';
    --textAsh: '#84919c';
    --backgroundAsh: '#f5f5f7';
    --borderColor: '#929da7';
    --textDark: '#273d52';
    --darkBlue: '#27225c';
    --green: '#88bf3b';
    --yellow: '#fecf01';
    --blue: '#021B79';
    --red: '#ED213A';
    --compassLight: '#2a4d60';
    --compassDark: '#113243';
    --lightBorder: '#ddd';
    --modalBackground: '#27225c77';
}

.container-top{
    background-color: silver;
    min-height: 80vh;
}

.container-bottom{
    background: var(--ada-dawasa-grey);
    color: silver;
    height: 12vh;
}

.alert--fixed{
    position: fixed !important;
    z-index: 2 !important;
    right: 14rem !important;
    left: 14rem !important;
    top: 0 !important;
}

.alert-success {
    background-color: #d4eddfef;
}

.alert-danger {
    background-color: #f8d7daef;
}

.alert-warning {
    background-color: #fff3cdef;
}

.page-enter-active, .page-leave-active {
    transition: opacity .5s;
}
.page-enter, .page-leave-to {
    opacity: 0;
}